body {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  color: #fff;
  background: url(../img/fondo.png), #000000;
  background: url(../img/fondo.png),
    -webkit-gradient(linear, right top, left top, from(#83962d), to(#7a3e3e));
  background: url(../img/fondo.png), linear-gradient(to left, #83962d, #7a3e3e);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 32px;
}

form {
  max-width: 1000px;
  border: 1px solid #a7a7a7;
  border-radius: 15px;
  min-height: 450px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  backdrop-filter: blur(1.2px);
  background-color: rgba(255, 255, 255, 0);
}

.container-btn input {
  display: none;
}

#imagenMostrada {
  border-radius: 10px;
  max-width: 95%;
  max-height: 400px;
}

/* Definir la animación para la imagen */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#imagenMostrada.loaded {
  animation: fadeIn 1s ease;
  width: 400px;
  height: 300px;
}

.container-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#cargarBoton,
#enviarBoton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #83962d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#cargarBoton:hover {
  background-color: #576321;
}

#cargarBoton:focus {
  outline: none;
}

/* Animación de clic */
#cargarBoton.clicked {
  transform: scale(1.1);
}

.container-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container-general {
    grid-template-columns: 100%;
    margin: 10px;
  }

  form{
    grid-template-columns: 100%;
    margin: 10px;
  }
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

.title{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#tituloTyped {
  display: inline-block; /* Ajusta esto según sea necesario */
}

#cursorTyped {
  display: inline-block; /* Ajusta esto según sea necesario */
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.prediction {
  color: green;  /* Cambia el color a tu elección */
}

.accuracy {
  color: blue;  /* Cambia el color a tu elección */
}
